node_modules
npm-debug.log*

.git
.github

.env
.env.local
.env.test

tests/
coverage/
jest.config.js

uploads/
logs/
*.log

.vscode
.idea
.DS_Store

Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

README.md
